<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ice.test.mapper.CompanyMapper">
    <insert id="insertCompany">
        INSERT INTO ice_company(cname,account,password)
        VALUES(#{cname},#{account},#{password})
    </insert>
    <select id="selectUser" resultType="com.ice.test.domain.Company">
        SELECT *
        FROM ice_company
        WHERE account = #{account} and password = #{password}
    </select>
    <select id="selectCnameByAccount" resultType="java.lang.String">
        SELECT cname
        FROM ice_company
        WHERE account = #{account}
    </select>

</mapper>