<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ice.test.mapper.ReceiverMessageMapper">
    <insert id="insertReceiverMessage">
        INSERT INTO receiver_message
        VALUES (#{username}, #{account}, #{email}, #{telephone}, #{weichat})
    </insert>
    <delete id="deleteReceiverMessageByAccount">
        DELETE
        FROM receiver_message
        WHERE account =
              #{account}
    </delete>
    <delete id="deleteReceiverMessageByTelephone">
        DELETE
        FROM receiver_message
        WHERE telephone =
              #{telephone}
    </delete>

    <select id="selectReceiverByAccount" resultType="com.ice.test.domain.ReceiverMessage">
        SELECT *
        FROM receiver_message
        WHERE account = #{account}
    </select>
    <select id="selectReceiverByTelephone" resultType="com.ice.test.domain.ReceiverMessage">
        SELECT *
        FROM receiver_message
        WHERE telephone = #{telephone}
    </select>
</mapper>