<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言板</title>
    <link rel="stylesheet" th:href="@{/css/msgBoard.css}">
    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
    <script th:src="@{/lib/layui-v2.6.3/layui.js}"></script>

</head>
<body>
<!--任务详情-->
<div class="article">
    <img th:src="@{${task.getImages()}}" style="width: 50%;"/>
</div>
<!-- 发布留言的主体 -->
<div class="wrap">
    <div class="wrap-head">
        <div class="head-logo">
<!--            <img th:src="@{/images/boy.png}"/>-->
        </div>
        <div class="head-txt">
            <a class="title-txt" href="javascript:void(0)">请留言，任务发布者会尽快答复</a>
        </div>
    </div>
    <div class="main-txt">
        <textarea name="" rows="" cols="" class="main-area"></textarea>
    </div>
    <div class="warp-footer">
        <!--<div class="warp-icon-cont">
            <ul>
                <li><img th:src="@{/images/biaoqing.png}" alt=""/>
                    <a href="javascript:void(0)">表情</a>
                </li>
                <li><img th:src="@{/images/tupian.png}" alt=""/>
                    <a href="javascript:void(0)">图片</a>
                </li>
                <li><img th:src="@{/images/shipin.png}" alt=""/>
                    <a href="javascript:void(0)">视频</a>
                </li>
                <li><img th:src="@{/images/huati.png}" alt=""/>
                    <a href="javascript:void(0)">话题</a>
                </li>
                <li><img th:src="@{/images/wenzhang.png}" alt=""/>
                    <a href="javascript:void(0)">文章</a>
                </li>
            </ul>
        </div>-->
        <div class="warp-footer-btns">
            <div class="release-btn">
                <a href="javascript:void(0)">发布</a>
            </div>
        </div>
    </div>
</div>
<!-- 显示留言的主体 -->
<div class="show">
    <!--有回复内容的,无论什么身份都不允许再发布回复-->
    <!--<div class="show-content">
        <div class="show-name">Xx</div>
        <div class="show-reply">
            <p class="">这是留言</p>
        </div>
        <div class="show-txt">
            <p class="">留言回复：这是回复</p>
        </div>
        <div class="show-time">2018年10月24日</div>
        <div class="show-close">x</div>
    </div>
    &lt;!&ndash;无回复内容的，用户是潜在处理者&ndash;&gt;
    <div class="show-content">
        <div class="show-name">Xx</div>
        <div class="show-reply">
            <p class="">这是留言</p>
        </div>
        <div class="show-time">2018年10月24日</div>
        <div class="show-close">x</div>
    </div>
    &lt;!&ndash;发布者身份，访问没有回复内容的评论&ndash;&gt;
    <div class="show-content">
        <div class="show-name">Xx</div>
        <div class="show-reply">
            <p class="">这是留言</p>
        </div>
        <div class="show-txt replying">

        </div>
        <div class="show-time">
            <span>2018年10月24日</span>
            <button type="button" class="replyButton" onclick="replyComment(this)">回复</button>
        </div>
        <div class="show-close">x</div>
    </div>-->

</div>
</body>
<script th:inline="javascript">


    // 还能输入的字得个数
    let able_count = 140;
    // 是否可以发布留言
    let release_able = false;
    // 右上角文字
    let $title_txt = $('.title-txt');
    // 留言框
    let $main_area = $('.main-area');
    // 发布按钮
    let $release_btn = $('.release-btn');

    //取出后端的信息
    let task = [[${task}]]
    let comment = [[${comment}]]
    let username = [[${username}]]

    //定义时间
    let date = new Date();
    //对所有已经存在的comment进行渲染
    for (let i = 0; i < comment.length; i++) {
        // 创建show对象的各个部位
        let $showContent = $('<div class="show-content"></div>'),
            $showName = $('<div class="show-name"></div>'),
            $showReply = $('<div class="show-reply"></div>'),
            $showTime = $('<div class="show-time"></div>'),
            $showClose = $('<div class="show-close"></div>'),
            $showP = $('<p class=""></p>')//留言内容
        $showName.text(comment[i].receiver);//评论人名称
        $showP.text(comment[i].commentText);//评论内容
        $showClose.text("x");//关闭按钮
        // 添加进入主结构
        $showContent.append($showName);
        $showReply.append($showP);
        $showContent.append($showReply);
        if (comment[i].replyContent != "") {//如果有回复内容了，无论身份都不允许再回复了
            //创建回复区，显示回复内容
            let $showTxt = $('<div class="show-txt"></div>'),
                $showTxtP = $('<p class=""></p>');
            $showTxtP.text("留言回复:" + comment[i].replyContent);
            $showTxt.append($showTxtP);
            $showTime.text(comment[i].commentTime);//时间区不要有按钮了
            $showContent.append($showTxt);
        } else {//如果没有回复内容，判断用户身份，发布者允许回复，其它人不允许回复
            if (username == task.publisher) {
                let $showTxt = $('<div class="show-txt  replying"></div>'),//设置回复区，回复后显示内容
                    $showTimeSpan = $('<span></span>'),
                    $replyButton = $('<button type="button" class="replyButton" onclick="replyComment(this)">回复</button>')
                $showTimeSpan.text(comment[i].commentTime)
                $showTime.append($showTimeSpan);
                $showTime.append($replyButton);
                $showContent.append($showTxt);
            } else {//潜在处理者：不要回复按钮，不要回复区域
                $showTime.text(comment[i].commentTime);//时间区不要有按钮了
            }

        }
        $showContent.append($showTime);
        $showContent.append($showClose);
        // 向所有匹配元素内部的开始处插入内容
        $('.show').prepend($showContent);

        // 添加动画
        // 位置从输入框处下移
        $showContent.css({
            top: '-150px'
        })
        $showContent.animate({
            top: 0
        }, 200)

    }

    //点击进行回复，插入回复内容
    function replyComment(obj) {
        let commentText = $(obj).parent().parent().find('p').eq(0).text()
        layer.prompt({
            formType: 0,
            value: '',
            title: '回复内容',
            btn: ['确定', '取消'], //按钮，
            btnAlign: 'c'
        }, function (value, index) {//确定按钮
                $.ajax({
                    //获取留言内容
                    url: '/commitReply?commentText=' + commentText + '&replyContent=' + value,
                    success: function (res) {
                        //如果上传成功
                        if (res.code == 1) {
                            //删除button回复按钮，在预先设置的回复区中插入内容
                            //创建回复区，显示回复内容
                            let $showTxt = $(obj).parent().prev(),
                                $showTxtP = $('<p class=""></p>');
                            $showTxtP.text("留言回复:" + value);
                            $showTxt.append($showTxtP);
                            //删除回复按钮
                            $(obj).remove()
                            return layer.msg('回复成功');
                        } else {
                            return layer.msg('回复失败');
                        }
                    }
                });
                layer.close(index);
        });
    }


    // 输入框获取焦点
    $main_area.focus(function () {
        $(this).parent().addClass('outline');
        $title_txt.addClass('title');
        if (able_count >= 0) {
            $title_txt.html("还可以输入" + able_count + "个字");
        } else {
            $title_txt.html("你已超出" + (-able_count) + "个字");
        }
    })

    // 输入框失去焦点
    $main_area.blur(function () {
        console.log("失去焦点");
        $(this).parent().removeClass('outline');
        $title_txt.removeClass('title');
        $title_txt.html("任务详情评论&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请留下您的问题，任务发布者会尽快答复");
    })

    // 输入框文本修改
    $main_area.on('input', function () {
        console.log("文本修改");
        // 剩余可输入的字个数
        able_count = 140 - $main_area.val().length;
        // console.log(able_count);
        // 根据可输入字的个数决定右上角文本的提示 与 是否能发布的状态
        if (able_count >= 0 && able_count <= 140) {
            $title_txt.html("还可以输入" + able_count + "个字");
            if (able_count != 140) {
                release_able = true;
            } else {
                release_able = false;
            }
        } else {
            $title_txt.html("你以超出" + (-able_count) + "个字");
            release_able = false;
        }
        // 根据发布状态决定发布按钮的样式
        if (release_able) {
            $release_btn.css({
                backgroundColor: "orange",
                borderColor: "orange"
            })
        } else {
            $release_btn.css({
                backgroundColor: "#ffc09f",
                borderColor: "#ffc09f"
            })
        }

    })

    // 发布事件
    $release_btn.click(function () {
        // 设置，对象结构内内容
        //这里要注意，任务尚未被接收，也就是receiver并不是接收者，而是潜在的接收者，我们这里假定是2，实际是用户
        let data = {
            title: task.title,
            receiver: username,//获取用户名
            commentText: $main_area.val(),
            commentTime: date.getFullYear() + "年" + (date.getMonth() + 1) + "月" + date.getDate() + "日",
            replyContent: '',
        }
        console.log(data)
        data = JSON.stringify(data)//JSON格式化
        if (release_able) {
            console.log('可以发布');
            $.ajax({
                url: '/submitComment',
                type: 'post',
                dataType: 'json',
                contentType: "application/json",
                data: data
            })
            // 创建show对象的各个部位
            var $showContent = $('<div class="show-content"></div>'),
                $showName = $('<div class="show-name"></div>'),
                $showReply = $('<div class="show-reply"></div>'),
                $showTime = $('<div class="show-time"></div>'),
                $showClose = $('<div class="show-close"></div>'),
                $showP = $('<p class=""></p>');

            $showName.text(username);//获取用户名
            $showP.text($main_area.val());
            $showTime.text(date.getFullYear() + "年" + (date.getMonth() + 1) + "月" + date.getDate() + "日");
            $showClose.text("x");
            // 添加进入主结构
            $showReply.append($showP);
            $showContent.append($showName);
            $showContent.append($showReply);
            $showContent.append($showTime);
            $showContent.append($showClose);

            // 向所有匹配元素内部的开始处插入内容
            $('.show').prepend($showContent);

            // 添加动画
            // 位置从输入框处下移
            $showContent.css({
                top: '-150px'
            })
            $showContent.animate({
                top: 0
            }, 200)

            // 删除事件
            $showClose.click(function () {
                // 显示插入的索引位置
                // console.log($(this).parent().index());
                // console.log($showContent.index());


                // 删除操作为顺便
                // $showContent.remove();

                // 使用删除动画，创建效果
                $showContent.animate({
                    height: 0
                }, 200, function () {
                    // 动画结束后将自身从dom中移除
                    $showContent.remove();
                })


            })

            // 发布成功后收尾工作
            $main_area.val(""); //输入框清空
            able_count = 140;  //输入框可输入内容数重置
            release_able = false;
            $release_btn.css({
                backgroundColor: '#ffc09f',
                borderColor: '#ffc09f'
            })  //按钮点击事件重置

        }
    })
</script>
</html>