<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户发布的任务</title>
    <!--在该页面中要展示的是自己发布的所有任务名称-->
    <link rel="stylesheet" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
    <script th:src="@{/lib/layui-v2.6.3/layui.js}"></script>
    <!--引入jquery方便表格引入图片，进行展示-->
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
<!--点击接收者弹出窗的表单-->
<div class="layui-row form-add-project" style="display: none">
    <form class="layui-form" action="" id="receiverMessageForm">
        <div class="layui-form-item">
            <label class="layui-form-label">处理人</label>
            <div class="layui-input-block">
                <input type="text" name="username" required lay-verify="required" placeholder="请输入处理人名称"
                       autocomplete="off" class="layui-input layui-disabled">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input type="text" name="email" required lay-verify="required|email" placeholder="请输入处理人邮箱"
                       autocomplete="off" class="layui-input layui-disabled">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-block">
                <input type="text" name="telephone" required lay-verify="required|phone" placeholder="请输入处理人电话"
                       autocomplete="off" class="layui-input layui-disabled">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">微信</label>
            <div class="layui-input-block">
                <input type="text" name="weichat" required lay-verify="required" placeholder="请输入处理人微信"
                       autocomplete="off" class="layui-input layui-disabled">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">公司</label>
            <div class="layui-input-block">
                <input type="text" name="company" required lay-verify="required" placeholder="请输入处理人公司"
                       autocomplete="off" class="layui-input layui-disabled">
            </div>
        </div>
    </form>
</div>
<h1 style="text-align: center">个人发布任务页面</h1>
<table id="tasksTable" lay-filter="tasksTableBar"></table>
<!--id值是给表格渲染使用的，lay-filter是给各种事件绑定使用的-->
<!--自定义一个工具条模板-->
<script type="text/html" id="barDemo">
    <!--这里的id主要是将其绑定在各行之中-->
    <a class="layui-btn layui-btn-xs" lay-event="commentProgress">进入论坛</a>
    <a class="layui-btn layui-btn-xs" lay-event="communicationProgress">沟通进度</a>
    <a class="layui-btn layui-btn-xs" lay-event="checkProgress">验收任务</a>
    <a class="layui-btn layui-btn-xs" lay-event="reStartProgress">再次发布</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="cancelTask">任务取消</a>
</script>
<!--自定义一个表格图片模板-->
<script type="text/html" id="picImg">
    <div>
        <img src="{{ d.images }}" width="80px" height="45px"/>
    </div>
</script>

<script th:inline="javascript">
    layui.use(['table', 'layer'], function () {
        let table = layui.table;
        let $ = layui.$;
        let publisher = [[${publisher}]];
        table.render({
            elem: '#tasksTable'
            , toolbar: true//开启表格头部工具栏打印等，工具栏不等于工具条
            , defaultToolbar: ['filter', 'print', 'exports']//第一个是筛选，也就是选择列显示
            , url: '/getTasksList?method=0&publisher=' + [[${publisher}]]//得到自己发布的所有任务列表,method=0表示查询自己发布的
            , page: true //开启分页
            , title: "我已发布的任务"    //定义 table 的大标题（在文件导出等地方会用到）
            , cols: [
                [ //表头
                    {type: 'numbers', title: '序号', align: "center", width: "5%", fixed: 'left', sort: true}//序号列
                    , {field: 'title', title: '任务名称', align: "center", width: "10%"}
                    , {field: 'taskStatus', title: '任务状态', align: "center", width: "7%", sort: true}
                    , {field: 'receiverName', title: '任务处理人', align: "center", width: "10%", event: 'receiver'}
                    , {field: 'description', title: '任务具体描述', align: "center", width: "30%"}
                    , {field: 'images', title: '具体规格要求', align: "center", width: "20%", templet: '#picImg', event: 'images'}
                    , {field: 'taskProcess', title: '任务进程', align: "center", width: "10%"}
                    , {field: 'publishTime', title: '发布时间', align: "center", width: "11%", sort: true}
                    , {field: 'taskType', title: '任务领域', align: "center", width: "7%", sort: true}
                    , {field: 'endTime', title: '预期结束时间', align: "center", width: "10%", sort: true}
                    , {field: 'price', title: '预期费用(元)', align: "center", width: "10%", sort: true}
                    , {field: 'email', title: '发布者邮箱', align: "center", width: "10%"}
                    , {fixed: 'right', title: '操作', align: "center", width: 500, toolbar: '#barDemo'}//每行有沟通进度和任务取消
                ]
            ]
        });

        //table事件函数：table.on('event(filter)', callback);
        //工具条事件
        table.on('tool(tasksTableBar)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值",里面不需要双引号
            let data = obj.data; //获得当前行数据
            let layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            //点击进入论坛
            if (layEvent === 'commentProgress') {
                console.log(obj.data.taskStatus)
                //无论何种状态（除了任务已经取消外，都允许进入论坛咨询）
                let username = publisher;
                window.location.href = "/comment?username=" + username + "&title=" + data.title
            }
            //点击进入聊天室
            else if (layEvent === 'communicationProgress') {
                //进入聊天室沟通进度
                console.log(obj.data.taskStatus)
                if (obj.data.taskStatus === '待接收') {
                    alert("任务尚未接收，暂时无法聊天")
                } else if (obj.data.taskStatus === '任务成功') {
                    layer.alert('任务已经被处理完成了');
                } else {//任务正在受理、待验收、处理失败均允许进入聊天室
                    let username = publisher;
                    let toUserName = obj.data.receiver
                    window.location.href = "/chat?method=0&username=" + username + "&toUserName=" + toUserName;//method表示以发布者身份进入聊天室
                }
            }
            //点击验证支付
            else if (layEvent === 'checkProgress') {//点击验收支付
                console.log(obj.data.taskStatus)
                if (obj.data.taskStatus === '待接收' || obj.data.taskStatus === '正在受理') {
                    layer.alert("任务尚未完成处理，无法验收")
                } else if (obj.data.taskStatus === '任务成功') {
                    layer.alert('任务已经被处理完成了');
                } else if (obj.data.taskStatus === '待验收') {
                    //验收结果无论成功还是失败，最后都是交给原先的处理者继续办理
                    let title = data.title
                    layer.confirm('任务已处理，是否通过', {
                        btn: ['通过', '拒绝']
                        , yes: function () {
                            obj.update({
                                taskStatus: '任务成功'
                            })
                            //向服务端发送删除指令
                            $.ajax({
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                url: '/updateTaskStatus?title=' + title + '&taskStatus=' + 2,//2状态表示任务通过验收，处理成功
                                success: function (res) {
                                    //如果上传成功
                                    if (res.code == 0) {
                                        return layer.msg('任务已验收');
                                    } else {
                                        return layer.msg('任务验收失败');
                                    }
                                }
                            });
                        }
                        , btn2: function () {
                            obj.update({
                                taskStatus: '正在处理'
                            })
                            //向服务端发送删除指令
                            $.ajax({
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                url: '/updateTaskStatus?title=' + title + '&taskStatus=' + 1,//表示任务验收失败，交给处理者重新处理
                                success: function (res) {
                                    //如果上传成功
                                    if (res.code == 0) {
                                        return layer.msg('任务重新处理');
                                    } else {
                                        return layer.msg('任务验收选择失败');
                                    }
                                }
                            });
                        }
                    });
                } else {//任务失败
                    layer.alert('任务已经失败了，无法验收');
                }
            }
            //点击任务重启
            else if (layEvent === 'reStartProgress') {
                //任务重启：任务无论成功还是失败重新竞标
                console.log(obj.data.taskStatus)
                if (obj.data.taskStatus === '待接收') {
                    layer.alert("任务待接收，无须重启")
                } else if (obj.data.taskStatus === '正在受理') {
                    layer.alert("任务正在受理，请与处理者协商")
                } else if (obj.data.taskStatus === '待验收') {
                    layer.alert("任务等待验收，无法重启")
                } else if (obj.data.taskStatus === '任务成功' || obj.data.taskStatus === '任务失败'){
                    layer.confirm('是否重启任务', function (index) {
                        //任务重启时，要把以前申请的记录删掉
                        let title = data.title
                        //页面表格数据更新
                        obj.update({
                            taskStatus: '待接收',
                            receiverName: '无'
                        })
                        //向服务端发送任务重启指令,此时删除所有处理人信息
                        $.ajax({
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            url: '/reStartTasks?title=' + title + '&taskStatus=' + 0,
                            success: function (res) {
                                //如果上传成功
                                if (res.code == 0) {
                                    return layer.msg('任务已重启');
                                } else {
                                    return layer.msg('任务重启失败');
                                }
                            }
                        });
                    });
                }
            }
            //点击任务取消
            else if (layEvent === 'cancelTask') {//任务取消：这里可以取消已经完成的任务，也可以取消其他状态的任务
                //如果正在受理或者处于待验收阶段，则不能单方面取消
                if (obj.data.taskStatus === '正在受理' || obj.data.taskStatus === '待验收') {
                    layer.alert("任何无法单方面取消，请与处理者协商")
                } else {//处理成功、处理失败、待接收时允许取消任务
                    layer.confirm('确定取消该任务吗', function (index) {
                        let title = data.title
                        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                        layer.close(index);
                        //向服务端发送删除指令
                        $.ajax({
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            url: '/deleteTask?title=' + title,
                            success: function (res) {
                                //如果上传成功
                                if (res.code == 0) {
                                    return layer.msg('任务成功取消');
                                } else {
                                    return layer.msg('任务取消失败');
                                }
                            }
                        });
                    });
                }
            }
            //点击图片事件
            else if (layEvent === 'images') {//单击图片
                let img = "<img src='" + obj.data.images + "' style='height: 300px;width: 300px'>"//展示图片
                layer.open({
                    title: obj.data.title + '的规格要求'
                    , area: [img.width + "px", img.height + 'px']
                    , content: img
                    , btnAlign: 'c'
                });
            }
            //点击接收者名字
            else if (layEvent === 'receiver') {//点击接收者名字，要返回接收者所属的公司信息以及自己的联系方式
                //判断是否已经任务重启，此时data值没变但是应该显示无
                if (data.taskStatus != '待接收') {
                    //这里要显示的是接收者信息。所以是按照接收者电话来查，而不是公司账号
                    let receiverTelephone = data.receiverTelephone;
                    //只有不等于无时才显示详细信息
                    if (receiverTelephone != '无') {//处理员工不为空，即任务被处理中
                        let receiverMessage;
                        let company;
                        $.ajax({
                            url: '/getReceiver?receiverTelephone=' + receiverTelephone,
                            async: false,
                            success: function (res) {
                                //判断后端返回结果
                                if (res.code == 200) {
                                    console.log(res.data)
                                    receiverMessage = res.data;
                                    company = res.company;
                                } else {
                                    return layer.msg('接收失败');
                                }
                            }
                        })
                        $("input")[0].setAttribute("value", receiverMessage.username);  //处理人名称
                        $("input")[1].setAttribute("value", receiverMessage.email);     //处理人邮箱
                        $("input")[2].setAttribute("value", receiverMessage.telephone); //处理人电话
                        $("input")[3].setAttribute("value", receiverMessage.weichat);   //处理人微信
                        $("input")[4].setAttribute("value", company);   //处理人公司名称
                        layer.open({
                            title: '处理者信息'
                            , area: '340px'
                            , content: $(".form-add-project").html()//放置dom对象，实际是绑定关系
                            , btnAlign: 'c'
                        });
                    }
                }
            }
        });

        //行单击事件：这里直接显示图片具体要求
        /*table.on('row(tasksTableBar)', function (obj) {
            console.log(obj.data)
            let img = "<img src='" + obj.data.images + "' style='height: 300px;width: 300px'>"//展示图片
            layer.open({
                title: obj.data.title + '的规格要求'
                , area: [img.width + "px", img.height + 'px']
                , content: img
                , btnAlign: 'c'
            });
        });*/

    });

</script>
</body>
</html>