<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../../build/common/test.js"></script>
    <script type="text/javascript" src="../../build/common/base.js"></script>
    <script type="text/javascript" src="../../build/common/ngEdit.js"></script>
    <script type="text/javascript" src="../../assets/js/common/bpmForm/bpmService1.js"></script>
    <script type="text/javascript" src="../../build/common/custForm.js"></script>

</head>
<body>

<div class="ivu-form ivu-form-label-right"><table class="form-table">
    <tbody><tr class="firstRow">
        <th>可接受价格</th>
        <td><input type="text" class=" form-control" ng-model="data.bjbc.price" ab-basic-permission="permission.bjbc.bjjg.price" desc="备件价格-可接受价格" ab-validate="{&quot;maxlength&quot;:50}"></td>
        <th>ship_id</th>
        <td><input type="text" class=" form-control" ng-model="data.bjbc.ship_id" ab-basic-permission="permission.bjbc.bjjg.ship_id" desc="备件价格-ship_id" ab-validate="{&quot;maxlength&quot;:50}"></td>
    </tr>
    <tr>
        <th>处理人员</th>
        <td><input type="text" class=" form-control" ng-model="data.bjbc.clry" ab-basic-permission="permission.bjbc.bjjg.clry" desc="备件价格-处理人员" ab-validate="{&quot;maxlength&quot;:50}"><a class="btn btn-primary fa-search" href="javascript:void(0)" ab-cust-dialog="cspx" ng-model="data.bjbc" param="{}" dialog-setting="{&quot;multiple&quot;:false}" value-fullname_="clry" value-email_="yj">用户查询</a></td>
        <th>邮件</th>
        <td><input type="text" class=" form-control" ng-model="data.bjbc.yj" ab-basic-permission="permission.bjbc.bjjg.yj" desc="备件价格-邮件" ab-validate="{&quot;maxlength&quot;:50}"></td>
    </tr>
    <tr>
        <th>策略</th>
        <td colspan="3">
            <div ng-app="myApp" ng-controller="myCtrl">
                <a href="http://www.baidu.com/">
                    <button id="sendMsg" ng-click="send()">筛选</button>
                </a>

            </div>
        </td>
    </tr>

    </tbody></table>


    <div id="bjbc-cbbjbc" table-key="cbbjbc" ab-show-permission="tablePermission.bjbc.cbbjbc">
        <div class="ibox-title"><span class="title">船舶备件补充</span>
            <a href="javascript:void(0)" class="btn btn-primary btn-sm fa fa-plus" ng-model="data.bjbc.cbbjbcList" ab-sub-add="initData.bjbc.cbbjbc" ab-edit-permission="tablePermission.bjbc.cbbjbc">添加</a>
        </div>
        <div class="ibox-content">
            <table class="form-table">
                <thead>
                <tr class="firstRow">
                    <th>船名</th>
                    <th>序号</th>
                    <th>品名与规格</th>
                    <th>零件号</th>
                    <th>单位</th>
                    <th>船存数</th>
                    <th>申请数</th>
                    <th>审核数</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody><tr ng-repeat="cbbjbc in data.bjbc.cbbjbcList track by $index">
                    <td><input type="text" class=" form-control" ng-model="cbbjbc.ship_name" ab-basic-permission="permission.bjbc.cbbjbc.ship_name" desc="船舶备件补充-船名" ab-validate="{&quot;maxlength&quot;:50}"> </td>
                    <td><input type="text" class=" form-control" ng-model="cbbjbc.number" ab-basic-permission="permission.bjbc.cbbjbc.number" desc="船舶备件补充-序号" ab-validate="{&quot;maxlength&quot;:10}"> </td>
                    <td><select class=" form-control" ng-model="cbbjbc.pmygg" ab-checked-permission="permission.bjbc.cbbjbc.pmygg" ab-validate="{&quot;maxlength&quot;:50}" desc="船舶备件补充-品名与规格"><option value="621939241214">气门锁夹</option><option value="615797979697">气门外弹簧</option></select> </td>
                    <td><input type="text" class=" form-control" ng-model="cbbjbc.ljh" ab-basic-permission="permission.bjbc.cbbjbc.ljh" desc="船舶备件补充-零件号" ab-validate="{&quot;maxlength&quot;:10}"> </td>
                    <td><input type="text" class=" form-control" ng-model="cbbjbc.dw" ab-basic-permission="permission.bjbc.cbbjbc.dw" desc="船舶备件补充-单位" ab-validate="{&quot;maxlength&quot;:50}"> </td>
                    <td><input type="text" class=" form-control" ng-model="cbbjbc.ccs" ab-basic-permission="permission.bjbc.cbbjbc.ccs" desc="船舶备件补充-船存数" ab-validate="{&quot;maxlength&quot;:50}"> </td>
                    <td><input type="text" class=" form-control" ng-model="cbbjbc.sqs" ab-basic-permission="permission.bjbc.cbbjbc.sqs" desc="船舶备件补充-申请数" ab-validate="{&quot;number&quot;:true,&quot;maxlength&quot;:10}"> </td>
                    <td><input type="text" class=" form-control" ng-model="cbbjbc.shs" ab-basic-permission="permission.bjbc.cbbjbc.shs" desc="船舶备件补充-审核数" ab-validate="{&quot;maxlength&quot;:50}"> </td>
                    <td><input type="text" class=" form-control" ng-model="cbbjbc.bz" ab-basic-permission="permission.bjbc.cbbjbc.bz" desc="船舶备件补充-备注" ab-validate="{&quot;maxlength&quot;:50}"> </td>
                    <td>
                        <a class="btn btn-danger btn-sm fa fa-delete" ng-click="ArrayTool.del($index,data.bjbc.cbbjbcList)" ab-edit-permission="tablePermission.bjbc.cbbjbc"> </a><br></td>
                </tr>
                </tbody></table>
        </div>
    </div>
</div>
<script type="text/javascript">
    var testCtrl=('testCtrl',function ($scope) {
        $scope.send=function () {
            alert("hgoasjhgpaj")
        }
    })

</script>
<script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
<script type="text/javascript">
    var app=angular.module('myApp',[]).controller('myCtrl',function ($scope) {
        $scope.send=function () {
            alert("hgoajhgo")
        }
    })

</script>

</body>
</html>
