<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
    <link href="../../build/common/base.css" rel="stylesheet">
    <script type="text/javascript" src="../../build/common/base.js"></script>
    <script type="text/javascript" src="../../build/common/gridList.js"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
    <input type="text" ng-model="policy" name="policy" list="polisyList" placeholder="请选择策略">
    <datalist id="polisyList">
        <option>leastCost</option>
        <option>highqulity</option>
    </datalist>
    <button id="sendMsg" ng-click="send()" >通过策略筛选</button>
    <div class="tip" ng-show="false">返回结果{{result}}</div>
</div>
<!--使用Post请求发送policy-->
<script type="text/javascript">

    var app=angular.module('myApp',[]);
    app.controller('myCtrl',function ($scope,$http) {
        $scope.send=function (){
            $(document).ready(function(){
                $("button").click(function(){
                    $.post("agile-bpm-platform/bpm/task/getBpmTask",
                        {
                            id:"436485937633951745",

                        },
                        function(data,status){
                            var jsondata=JSON.parse(data);
                            var datas=jsondata.data;
                            var subject=datas.subject;
                            var name=datas.name;
                            var time=datas.createTime;
                            var des=subject+"\n任务名: "+name+"\n时间: ";

                        alert("数据: " + data+ "\n状态: " + status+"\n任务: " + time);

                    });
                });
            });


        }

    })
</script>
</body>
</html>