<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公司信息注册</title>
    <link rel="stylesheet" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
    <script th:src="@{/lib/layui-v2.6.3/layui.js}"></script>
</head>
<body>
<form class="layui-form"
      style="margin: 0 auto;max-width: 460px;padding-top: 40px;" action="" id="addTaskForm">
    <div class="layui-form-item">
        <label class="layui-form-label">服务领域:</label>
        <div class="layui-input-block">
            <select lay-verify="required" name="area" lay-filter="area">
                <option value="">请选择服务的领域</option>
                <option value="船舶配件">船舶配件</option>
                <option value="物流运输">物流运输</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">产品名称:</label>
        <div class="layui-input-block">
            <input type="input" placeholder="请输入产品名称" value="" class="layui-input"
                   required id="product" name="product">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">价格:</label>
        <div class="layui-input-block">
            <input type="input" placeholder="请输入价格(元)" value="" class="layui-input"
                   lay-verify="number|required" required id="price" name="price">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">策略:</label>
        <div class="layui-input-block">
            <select lay-verify="required" name="qulity" id="policy">
                <option value="">请选择服务策略</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">处理人:</label>
        <div class="layui-input-block">
            <input type="input" placeholder="请输入处理人姓名" value="" class="layui-input"
                   required id="manager" name="manager">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">处理人电话:</label>
        <div class="layui-input-block">
            <input type="input" placeholder="请输入处理人的电话号码" value="" class="layui-input"
                   lay-verify="phone|required" required id="telephone" name="telephone">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">处理人邮箱:</label>
        <div class="layui-input-block">
            <input type="input" placeholder="请输入处理人正确的邮箱" value="" class="layui-input"
                   lay-verify="email|required" id="email" name="email">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">处理人微信:</label>
        <div class="layui-input-block">
            <input type="input" placeholder="请输入处理人微信号" value="" class="layui-input"
                   lay-verify="required"  name="weichat">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注信息:</label>
        <div class="layui-input-block">
            <textarea name="defid" lay-verify="required" placeholder="请输入备注信息"
                      class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
            <button class="layui-btn layui-btn-primary" type="reset">重置</button>
        </div>
    </div>
</form>
</body>
<script th:inline="javascript">
    let username = [[${username}]];
    layui.use(['form'], function () {
        let form = layui.form;
        var $ = layui.$;
        //监听select领域选择
        form.on('select(area)',function (data) {
            $.get("/selectAreas/"+data.value,function(res){
                let data = res.data;
                //清空下拉框
                $("#policy").empty();
                $("#policy").prepend("<option value=''>--请选择策略--</option>");

                for(var i = 0; i < data.length; i++)
                {
                    $("#policy").append("<option value='"+data[i].val+"'>"+data[i].name+"</option>");
                }
                form.render('select'); //刷新select选择框渲染
            })
        })

        //监听提交，提交完之后不要跳转页面，因此推荐ajax提交数据
        form.on('submit(formDemo)', function (data) {
            data.field['name'] = username;
            console.log(data.field)
            let suplier = JSON.stringify(data.field);
            $.ajax({
                url: '/registerCompany',
                type: 'post',
                dataType: 'json',//告知服务器，希望返回json格式。如果不写则自动去判断服务器返回数据类型
                contentType: "application/json",//告知服务器，发送的数据是json格式
                data: suplier,
                success: function (res) {
                    //判断后端返回结果
                    if (res.code == 0) {
                        //返回成功则表单重置
                        $("#addTaskForm")[0].reset();
                        layui.form.render();
                        return layer.msg('提交成功');
                    } else {
                        return layer.msg('提交失败');
                    }
                }
            })
            //返回false，表示不刷新整个页面，即在点击reset之后不刷新页面，而是只刷新Form表单
            return false;
        });
    });
</script>
</html>