<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>可接收的任务</title>
    <!--在该页面中要展示的是自己发布的所有任务名称-->
    <link rel="stylesheet" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
    <script th:src="@{/lib/layui-v2.6.3/layui.js}"></script>
    <!--引入jquery方便表格引入图片，进行展示-->
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
<!--点击接收任务弹出窗的表单-->
<div class="layui-row form-add-project" style="display: none">
    <form class="layui-form" action="" id="receiverMessageForm">
        <div class="layui-form-item">
            <label class="layui-form-label">处理人</label>
            <div class="layui-input-block">
                <input type="text" name="username" required lay-verify="required" placeholder="请输入处理人名称"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input type="text" name="email" required lay-verify="required|email" placeholder="请输入处理人邮箱"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-block">
                <input type="text" name="telephone" required lay-verify="required|phone" placeholder="请输入处理人电话"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">微信</label>
            <div class="layui-input-block">
                <input type="text" name="weichat" required lay-verify="required" placeholder="请输入处理人微信"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<h1 style="text-align: center">任务公告栏</h1>
<table id="tasksTable" lay-filter="tasksTableBar"></table>
<!--id值是给表格渲染使用的，lay-filter是给各种事件绑定使用的-->
<!--自定义一个工具条模板-->
<script type="text/html" id="barDemo">
    <!--这里的id主要是将其绑定在各行之中-->
    <a class="layui-btn layui-btn-xs" lay-event="communicationTasks">联系发布者</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="applyTask">申请任务</a>
</script>
<!--自定义一个表格图片模板-->
<script type="text/html" id="picImg">
    <div>
        <img src="{{ d.images }}" width="80px" height="45px"/>
    </div>
</script>

<script th:inline="javascript">
    let username = [[${username}]];
    console.log(username)
    layui.use(['table', 'layer', 'form'], function () {
        let table = layui.table;
        let form = layui.form
        let $ = layui.$;
        let title,publisher;
        let index;//用于在提交表单之后关闭弹出层
        table.render({
            elem: '#tasksTable'
            , toolbar: true//开启表格头部工具栏打印等，工具栏不等于工具条
            , defaultToolbar: ['filter', 'print', 'exports']//第一个是筛选，也就是选择列显示
            , url: '/getTasksList?method=1&publisher=' + username//得到别人发布的所有任务列表,任务状态不是待取消都可以查看
            , page: true //开启分页
            , title: "可接受的任务"    //定义 table 的大标题（在文件导出等地方会用到）
            , cols: [
                [ //表头
                    {type: 'numbers', title: '序号', align: "center", width: "5%", fixed: 'left', sort: true}//序号列
                    , {field: 'title', title: '任务名称', align: "center", width: "10%"}
                    , {field: 'description', title: '任务具体描述', align: "center", width: "30%"}
                    , {field: 'taskStatus', title: '任务状态', align: "center", width: "7%", sort: true}
                    , {
                    field: 'images',
                    title: '具体规格要求',
                    align: "center",
                    width: "24%",
                    templet: '#picImg',
                    event: 'images'
                }
                    , {field: 'company', title: '发布者公司', align: "center", width: "10%"}
                    , {field: 'email', title: '发布者邮箱', align: "center", width: "13%"}
                    , {field: 'publishTime', title: '发布时间', align: "center", width: "11%", sort: true}
                    , {field: 'endTime', title: '预期结束时间', align: "center", width: "10%", sort: true}
                    , {field: 'taskType', title: '任务领域', align: "center", width: "7%", sort: true}
                    , {field: 'price', title: '预期费用(元)', align: "center", width: "10%", sort: true}
                    , {fixed: 'right', title: '操作', align: "center", width: 200, toolbar: '#barDemo'}//每行有沟通进度和任务取消
                ]
            ]
        });

        //监听提交，提交完之后不要跳转页面，因此推荐ajax提交数据。提交接收者基本信息
        form.on('submit(formDemo)', function (data) {
            data.field['account'] = username//加入所属公司账号
            let receiverMessage = JSON.stringify(data.field);//表格数据要转为json格式进行传输
            $.ajax({
                //提交处理人信息，同时更新任务表状态
                url: '/submitReceiverMessage?title=' + title,
                type: 'post',
                dataType: 'json',//告知服务器，希望返回json格式。如果不写则自动去判断服务器返回数据类型
                contentType: "application/json",//告知服务器，发送的数据是json格式
                data: receiverMessage,
                success: function (res) {
                    //判断后端返回结果
                    if (res.code == 0) {
                        //关闭弹窗
                        layer.close(index);
                        return layer.msg('申请人信息提交成功');
                    } else {
                        return layer.msg('申请人信息提交失败');
                    }
                }
            })
            //提交申请表
            let telephone = data.field.telephone;//获取处理人电话
            let apply = {
                "title": title,
                "account": username,
                "telephone": telephone,
                "applyStatus": "0",
                "publisher": publisher
            }
            let applyData = JSON.stringify(apply)
            $.ajax({
                //提交处理人信息，同时更新任务表状态
                url: '/apply/submitApply',
                type: 'post',
                dataType: 'json',//告知服务器，希望返回json格式。如果不写则自动去判断服务器返回数据类型
                contentType: "application/json",//告知服务器，发送的数据是json格式
                data: applyData,
                success: function (res) {
                    //判断后端返回结果
                    if (res.code == 0) {
                        //关闭弹窗
                        layer.close(index);
                        return layer.msg('已发送申请');
                    } else {
                        return layer.msg('申请发送失败');
                    }
                }
            })
            layer.msg("请等待确认")
            return false;
        });

        //工具条事件
        table.on('tool(tasksTableBar)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值",里面不需要双引号
            let data = obj.data; //获得当前行数据
            let layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            let tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            //添加成功
            if (layEvent === 'communicationTasks') { //询问发布者任务信息
                window.location.href = "/comment?username=" + username + "&title=" + data.title//进入留言评论区,告知自己的名字以及任务名字
            } else if (layEvent === 'images') {//单击图片
                let img = "<img src='" + obj.data.images + "' style='height: 300px;width: 300px'>"//展示图片
                layer.open({
                    title: obj.data.title + '的规格要求'
                    , area: [img.width + "px", img.height + 'px']
                    , content: img
                    , btnAlign: 'c'
                });
            } else {//任务申请applyTask
                //只有任务待接收状态才可以进行处理
                if (data.taskStatus === '待接收') {
                    layer.confirm('请事先联系发布者后申请任务', function (x) {
                            title = data.title;//此时注意传送任务主键
                            publisher = data.publisher;
                            index = layer.open({
                                type: 1,
                                title: "基本信息",
                                area: "550px",//只定义宽度
                                content: $(".form-add-project").html()//放置dom对象，实际是绑定关系
                            })
                        }
                    )
                } else if (data.taskStatus === '正在受理') {
                    layer.alert("任务正在被处理，无法申请")
                } else if (data.taskStatus === '任务成功') {
                    layer.alert("任务已经处理完，无法申请")
                } else if (data.taskStatus === '待验收') {
                    layer.alert("任务等待验收中，无法申请")
                } else {
                    layer.alert("任务已经失败，请等待重启")
                }

            }
            obj.stoppropagation();//防止行事件和工具条冲突
        });

    })

</script>
</body>
</html>