<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ice.test.mapper.CommentMapper">

    <resultMap id="comment" type="com.ice.test.domain.Comment">
        <!--结果映射：将数据库task与对象task进行映射，两者键值对不同-->
        <!-- 定义普通列封装规则 -->
        <result column="comment_text" property="commentText"/>
        <result column="comment_time" property="commentTime"/>
        <result column="reply_content" property="replyContent"/>
        <!-- 其他不指定的列会自动封装：但是建议我们只要写resultMap就把全部的映射规则都写上-->
    </resultMap>

    <select id="selectCommentsByTitle" resultMap="comment">
        SELECT *
        FROM comment
        WHERE title = #{title}
    </select>


    <insert id="insertComment">
        INSERT INTO comment(title, receiver, comment_text, comment_time, reply_content)
        VALUES (#{title}, #{receiver}, #{commentText}, #{commentTime}, #{replyContent})
    </insert>


    <update id="updateReplyContentByCommentText">
        UPDATE comment
        SET reply_content = #{replyContent}
        WHERE comment_text = #{commentText}
    </update>
</mapper>