<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>筛选器</title>
    <link rel="stylesheet" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
    <script th:src="@{/lib/layui-v2.6.3/layui.js}"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

    <form class="layui-form" action="" id="myCtrl">
        <div class="layui-form-item">
            <label class="layui-form-label">产品名称:</label>
            <div class="layui-input-block">
                <input type="input" placeholder="请输入产品名称" value="" class="layui-input"
                       required id="product" name="product">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">服务领域</label>
            <div class="layui-input-block">
                <select lay-verify="required" name="area" lay-filter="area">
                    <option value="">请选择服务的领域</option>
                    <option value="船舶配件">船舶配件</option>
                    <option value="物流运输">物流运输</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">选择策略</label>
            <div class="layui-input-block">
                <select name="policy" id="policy" lay-verify="required">
                    <!--<option value="">请选择服务的策略</option>
                    <option value="leastCost">低价格</option>
                    <option value="highqulity">高质量</option>
                    <option value="fast">fast</option>-->
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="formDemo">策略筛选</button>
            </div>
        </div>
    </form>
</div>

<h1 style="text-align: center">筛选协作方</h1>
<table id="coordinatorTable" lay-filter="coordinatorTableBar"></table>
<!--id值是给表格渲染使用的，lay-filter是给各种事件绑定使用的-->
<!--自定义一个工具条模板-->
<script type="text/html" id="barDemo">
    <!--这里的id主要是将其绑定在各行之中-->
    <a class="layui-btn layui-btn-xs" lay-event="assignTasks">指派任务</a>
</script>
<!--使用Post请求发送policy-->
<script type="text/javascript">
    let username=[[${username}]];//指派任务的用户就是发布者账号
    layui.use(['form', 'table', 'layer'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let table = layui.table;

        table.render({
            elem: '#coordinatorTable'
            , toolbar: true//开启表格头部工具栏打印等，工具栏不等于工具条
            , defaultToolbar: ['filter', 'print', 'exports']//第一个是筛选，也就是选择列显示
            , page: true //开启分页
            , title: "可接受的任务"    //定义 table 的大标题（在文件导出等地方会用到）
            , cols: [
                [ //表头
                    {type: 'numbers', title: '序号', align: "center", width: "5%", fixed: 'left', sort: true}//序号列
                    , {field: 'cname', title: '名称', align: "center", width: "10%"}
                    , {field: 'price', title: '价格', align: "center", width: "33%"}
                    , {field: 'quailty', title: '质量', align: "center", width: "10%"}
                    , {field: 'telephone', title: '电话', align: "center", width: "24%", templet: '#picImg'}
                    , {field: 'email', title: '邮箱', align: "center", width: "11%", sort: true}
                    , {field: 'manager', title: '经理', align: "center", width: "7%"}
                    , {field: 'product', title: '产品', align: "center", width: "7%"}
                ]
            ]
        });


        //监听提交，提交完之后不要跳转页面，因此推荐ajax提交数据
        form.on('submit(formDemo)', function (data) {

            //表格渲染
            table.render({
                elem: '#coordinatorTable'
                , toolbar: true//开启表格头部工具栏打印等，工具栏不等于工具条
                , defaultToolbar: ['filter', 'print', 'exports']//第一个是筛选，也就是选择列显示
                , url: '/ice-test/test?policy=' + data.field.policy+"&area="+data.field.area+"&product=" +data.field.product
                , page: true //开启分页
                , title: "可接受的任务"    //定义 table 的大标题（在文件导出等地方会用到）
                , cols: [
                    [ //表头
                        {type: 'numbers', title: '序号', align: "center", width: "5%", fixed: 'left', sort: true}//序号列
                        , {field: 'cname', title: '名称', align: "center", width: "10%"}
                        , {field: 'price', title: '价格', align: "center", width: "10%"}
                        , {field: 'qulity', title: '质量', align: "center", width: "10%"}
                        , {field: 'telephone', title: '电话', align: "center", width: "24%", templet: '#picImg'}
                        , {field: 'email', title: '邮箱', align: "center", width: "18%", sort: true}
                        , {field: 'manager', title: '经理', align: "center", width: "10%"}
                        , {field: 'product', title: '产品', align: "center", width: "20%"}
                        , {fixed: 'right', title: '操作', align: "center", width: 200, toolbar: '#barDemo'}//每行有沟通进度和任务取消
                    ]
                ]
            });

            //返回false，表示不刷新整个页面，即在点击reset之后不刷新页面，而是只刷新Form表单
            return false;
        });

        //监听select领域选择
        form.on('select(area)',function (data) {
            $.get("/selectAreas/"+data.value,function(res){
                let data = res.data;
                //清空下拉框
                $("#policy").empty();
                $("#policy").prepend("<option value=''>--请选择策略--</option>");

                for(var i = 0; i < data.length; i++)
                {
                    $("#policy").append("<option value='"+data[i].val+"'>"+data[i].name+"</option>");
                }
                form.render('select'); //刷新select选择框渲染
            })
        })
        //工具条事件
        table.on('tool(coordinatorTableBar)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值",里面不需要双引号
            /*let data = JSON.stringify({
                bjbc: {},
                action: 'start',
                defid: obj.data.defid,
            }); //获得当前行数据*/
            let layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            let tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            //添加成功
            if (layEvent === 'assignTasks') { //指派任务:委托公司账号、发布公司账号、发布者电话即可
                window.location.href="/assignTasks?username="+ username+"&account="+obj.data.name+"&telephone="+obj.data.telephone;
            }
        });

    });
</script>
</body>
</html>